.main-content
  .content-header Topics you are currently following:
  - if @feeds.count > 0
    .every-other
      - @feeds.each do |feed|
        .content-panel
          .panel-header= "Topic: \'#{feed.tag}\'"
          .panel-link= link_to 'View Documents', user_feed_path(feed.user, feed), class: 'btn btn-default'
          .panel-link= link_to 'Unfollow this topic', [feed.user, feed], method: :delete, class: 'btn btn-default'
  - else
    .nothing-to-display You haven't followed any topics.
.sidebar
  = render partial: 'users/info', locals: {user: current_user}
  .sidebar-section
    .tutorial-box
      .tutorial-text 
        = fa_icon "question"
        Your followed topics are listed here.
      .tutorial-text As users upload documents that are tagged with these topics, your feeds will be updated. 