.main-content
  = render partial: 'users/controls', locals: {user: current_user}
  .content-title My Topics
  .every-other
    - @feeds.each do |feed|
      .content-panel
        .panel-header= "Topic: \'#{feed.tag}\'"
        .panel-link= link_to 'View Documents', user_feed_path(feed.user, feed)
        .panel-link= button_to 'Stop following this topic'
.sidebar
  = render partial: 'users/info', locals: {user: current_user}
  = render partial: 'users/options', locals: {user: current_user}