.centered-content
  .content-header Edit #{resource_name.to_s.humanize}
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    .form-section
      = f.label :email
      %br/
      = f.email_field :email, class: 'enter-text', autofocus: true
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .form-section
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password, class: 'enter-text', autocomplete: "off"
    .form-section
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, class: 'enter-text', autocomplete: "off"
    .form-section
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, class: 'enter-text', autocomplete: "off"
    .form-section
      = f.submit "Update", class: 'submit-form'
  .content-header Edit personal information
  = form_for(current_user) do |f|
    .form-section
      = f.label :name
      = f.text_field :name, placeholder: "Enter name", autofocus: true, class: 'enter-text'
    .form-section
      = f.submit "Update", class: 'submit-form'
  .warning-header Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), class: 'submit-form', data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back