.content-panel
  .panel-header
    = fa_icon "file-pdf-o"
    = "#{summary.document.name} Summary"
    .float-right
      = form_for [@organization, @event], url: remove_reference_path, method: :patch do |f|
        = f.hidden_field :summary_id, value: summary.id
        = f.submit "Remove document from event", class: 'remove-attendee-button'
  .panel-links
    = link_to 'View Document', organization_document_path(summary.document.organization, summary.document)
    = ', '
    = link_to 'Edit Document', edit_organization_document_path(summary.document.organization, summary.document)
    = ', '
    = link_to 'View Original', summary.document.file.url
  .summary-content= summary.body
  .panel-title Notes
  - summary.document.notes.each do |note|
    .panel-text= note.paragraph.content.html_safe
    .note-display
      = note.to_s