.main-content
  .content-header= "#{@document.name} Summary"
  .summary-content= @summary.body
  .content-subheader Notes
  - @notes.each do |note|
    .content-panel
      .content-subheader= note.paragraph.content.html_safe
      .note-display
        = note.to_s
.sidebar
  .sidebar-section
    .sidebar-title Document Info
  .sidebar-section
    .sidebar-content= link_to 'View Original', @document.file.url
    .sidebar-content= link_to 'Edit Document', edit_organization_document_path(@organization, @document)
    .sidebar-content-label
      .glyphicon.glyphicon-tags
      ="Tags"
    .sidebar-content
      .tag-lists= tags_to_links(@document.organization, @document.tags)
    .sidebar-content-label Organization:
    .sidebar-content= "#{@organization.name}"
    .sidebar-content-label Orignally Uploaded by:
    .sidebar-content= "#{@document.user.name}"
  = render partial: 'users/info', locals: {user: current_user}
  = render partial: 'users/options', locals: {user: current_user}