.main-content
  .content-header= "#{@document.name} Summary"
  .summary-content= @summary.body
  .content-subheader Notes
  - if @notes.count > 0
    - @notes.each do |note|
      .content-panel
        .content-subheader= note.paragraph.content.html_safe
        .note-display
          = note.to_s
  - else
    .nothing-to-display No notes for this document.
.sidebar
  .sidebar-section
    .sidebar-title Document Info
  .sidebar-section
    .sidebar-content= link_to 'View Original', @document.file.url
    .sidebar-content= link_to 'Edit Document', edit_organization_document_path(@organization, @document)
    .sidebar-content-label
      = fa_icon "tags", text: "Tags"
    .sidebar-content
      .tag-lists= tags_to_links(@document.organization, @document.tags)
    .sidebar-content-label Organization:
    .sidebar-content= "#{@organization.name}"
    .sidebar-content-label Orignally Uploaded by:
    .sidebar-content= "#{@document.user.name}"