.control-bar
  = link_to new_organization_document_path(user.organization), class: 'button-styles-new' do
    %span.button-icon.glyphicon.glyphicon-open-file
    .button-text New Doc
  = link_to new_organization_event_path(user.organization), class: 'button-styles-new' do
    %span.button-icon.glyphicon.glyphicon-tasks
    .button-text New Event
  = link_to user_path(user), class: 'button-styles' do
    %span.button-icon.glyphicon.glyphicon-home
    .button-text Home
  = link_to organization_documents_path(user.organization), class: 'button-styles' do
    %span.button-icon.glyphicon.glyphicon-duplicate
    .button-text Docs
  = link_to organization_events_path(user.organization), class: 'button-styles' do
    %span.button-icon.glyphicon.glyphicon-calendar
    .button-text Calendar
  = link_to user_feeds_path(user), class: 'button-styles' do
    %span.button-icon.glyphicon.glyphicon-pushpin
    .button-text Topics
