.sidebar-section
  .sidebar-title
    = "#{user.name}, "
    = link_to "Edit", edit_user_registration_path(user)
  - if user.is_confirmed_member?
    .sidebar-section
      - if policy(user.organization).edit?
        .sidebar-content-label= "Moderator of #{user.organization.name}"
      - else
        .sidebar-content-label= "Member of #{user.organization.name}"
      = link_to "View", organization_path(user.organization)
      - if policy(user.organization).edit?
        ,
        = link_to "Edit", edit_organization_path(user.organization)
    .sidebar-section
      .sidebar-content-label Role
      .sidebar-content= user.role.capitalize
  - else
    .sidebar-section
      .sidebar-content-label Not a member of an organization
      .sidebar-content
        Contact your groups moderator and request an invite or 
        = link_to 'start your own organization.', new_organization_path
  .sidebar-section
    .sidebar-content-label Email
    .sidebar-content= user.email
  - if user.is_confirmed_member?
    .sidebar-section
      .sidebar-content-label Followed Topics
      - if user.feeds.count > 0
        .sidebar-content= feeds_to_links(user)
      - else
        .sidebar-section
          .sidebar-content
            = "It looks like you haven't followed any topics yet. Get started by searching for a topic and then click the \'Follow this topic\' button."