.sidebar-section
  .sidebar-title
    = "User Info "
    - if policy(user).edit?
      = link_to "Edit", edit_user_registration_path(user)
  - if user.is_confirmed_member?
    .sidebar-section
      .sidebar-content-label Member of
      .sidebar-content= "#{user.organization.name}"
      .sidebar-content
        = link_to "View", organization_path(user.organization)
        - if policy(user.organization).edit?
          = link_to "Edit", edit_organization_path(user.organization)
  .sidebar-section
    .sidebar-content-label User Name
    .sidebar-content= user.name
  .sidebar-section
    .sidebar-content-label Email
    .sidebar-content= user.email