.sidebar-section
  .sidebar-title
    = "#{user.name}, "
    = link_to "Edit", edit_user_registration_path(user)
  - if user.is_confirmed_member?
    .sidebar-section
      - if policy(user.organization).edit?
        .sidebar-content-label= "Moderator of #{user.organization.name}"
      - else
        .sidebar-content-label= "Member of #{user.organization.name}"
      - if policy(user.organization).edit?
        = link_to "View", edit_organization_path(user.organization)
      - else
        = link_to "View", organization_path(user.organization)
      .sidebar-content= link_to "Change membership", new_organization_path
    .sidebar-section
      .sidebar-content-label Role
      .sidebar-content= user.role.capitalize
  - else
    .sidebar-section
      .sidebar-content-label Not a member of an organization
      .sidebar-content
        Contact your groups moderator and request an invite or 
        = link_to 'start your own organization.', new_organization_path
  .sidebar-section
    .sidebar-content-label Email
    .sidebar-content= user.email