.sidebar-section
  .sidebar-title Options
  .sidebar-section
    .sidebar-content= link_to "My Docs", user_path(user)
  .sidebar-section
    .sidebar-content= link_to "My Feeds", user_feeds_path(user)
  .sidebar-section
    .sidebar-content=  link_to "Group Docs", organization_documents_path(user.organization)
  - if policy(user.organization).edit?
    .sidebar-section
      .sidebar-content= link_to "Edit Organization", edit_organization_path(user.organization)
  .sidebar-section
    .sidebar-content= link_to 'Upload New Doc', new_organization_document_path(user.organization)
  .sidebar-section
    .sidebar-content= link_to 'Create New Event', new_organization_event_path(user.organization)