.main-content
  - if current_user.has_pending_invitation?
    = render partial: 'organizations/notice', locals: {membership: Membership.new, invited_organization: @invited_organization }
  .content-header= "#{current_user.name}'s Profile"
  - if @organization
    .content-subheader= "Member of #{@organization.name}"
    - if policy(@organization).edit?
      = link_to "Edit Organization", edit_organization_path(@organization), class: 'edit-record'
    = link_to "View Organization", organization_path(@organization), class: 'submit-form'
  .content-subheader= "Email"
  %p= current_user.email
.sidebar
  - if policy(current_user).edit?
    =link_to "Edit Profile", edit_user_registration_path(current_user), class: 'edit-record'