.content-panel
  .panel-header
    = fa_icon "calendar"
    = "#{event.title}, #{event.start_time.strftime("%m/%d/%Y")}"
  .panel-title Options
  .panel-link
    = link_to 'View Event', organization_event_path(event.organization, event)
    = ', '
    = link_to 'Edit Event', edit_organization_event_path(event.organization, event)
  .row
    .col-md-6
      .panel-title Attendees
      - event.users.each do |user|
        .panel-text= "#{user.name}, #{user.email}"
    .col-md-6
      .panel-title= pluralize(event.summaries.count, 'Document')
      .panel-text
        = summaries_to_links(event)