.main-content
  .content-title Edit Event
  =form_for [@organization, @event] do |f|
    .form-section
      = f.label :title
      = f.text_field :title, autofocus: true, class: 'enter-text'
    .form-section
      = f.label :start_time, "Start Time"
      = f.date_field :start_time, class: 'enter-text'
    .form-section
      = f.submit 'Save', class: 'submit-form'
  .content-title= "Referenced Documents"
  - if @summaries.count > 0
    - @summaries.each do |summary|
      =render partial: 'summaries/reference', locals: {summary: summary, event: @event}
  - else
    .nothing-to-display There are no documents added to this event.
.sidebar
  .sidebar-section
    .sidebar-title
      = 'Attendees'
    - if @attendees.count > 0
      .sidebar-table-header
        .medium-table-col
          .sidebar-content-label= 'Name'
        .large-table-col
          .sidebar-content-label= 'Email'
      - @attendees.each do |attendee|
        .sidebar-table-row
          .medium-table-col
            = "#{attendee.name}"
          .large-table-col
            = "#{attendee.email}"
          .medium-tabl-col
            = form_for [@organization, @event], url: remove_attendee_path, method: :patch do |f|
              = f.hidden_field :user_id, value: attendee.id
              = f.submit 'X', class: 'remove-attendee-button float-right'
    - else
      .nothing-to-display There are no users attending this event.
  .sidebar-title Add Attendees
  - if @found_users
    .content-subheader= "Search Results for \'#{@query}\'"
    %ul
    - @found_users.each do |found_user|
      %li.found-user-form
        = form_for [@organization, @event], url: add_attendee_path, method: :patch do |f|
          = "#{found_user.name}, #{found_user.email}"
          = f.hidden_field :user_id, value: found_user.id
          = f.submit "Add User to Event", class: 'invite-user'
  = render partial: 'memberships/attendance', locals: {organization: @organization, event: @event }
  .sidebar-title Add Documents
  - if @found_summaries
    .content-subheader= "Search Results for \'#{@summary_query}\'"
    %ul
    - @found_summaries.each do |found_summary|
      %li
        = form_for [@organization, @event], url: add_reference_path, method: :patch do |f|
          = "#{found_summary.document.name}"
          = f.hidden_field :summary_id, value: found_summary.id
          = f.submit "Add Document to Event", class: 'invite-user'
      %br
  = render partial: 'summaries/search', locals: {organization: @organization, event: @event }