.main-content
  .content-title Create New Event
  =form_for [@organization, @event] do |f|
    .form-section
      = f.label :title
      = f.text_field :title, autofocus: true, class: 'enter-text'
    .form-section
      = f.label :start_time, "Start Time"
      = f.date_field :start_time, class: 'enter-text'
    .form-section
      = f.hidden_field :organization_id, value: @organization.id
      = f.submit 'Save', class: 'submit-form'
.sidebar
  = render partial: 'users/info', locals: {user: current_user}
  .sidebar-section
    .tutorial-box
      .tutorial-text 
        = fa_icon "question"
        After you create an event, you'll be able to add attendees and documents.
      .tutorial-text Users who are attending an event will see the event in their user feed.
      .tutorial-text Add documents to events to highlight relevant information for attendees.