.main-content
  .content-title= "#{@event.title} Documents"
  - @summaries.each do |summary|
    =render partial: 'summaries/panel', locals: {summary: summary}
.sidebar
  =render partial: 'events/info', locals: {event: @event}
  .sidebar-section
    .sidebar-title
      = 'Attendees, '
      = link_to 'Edit', edit_organization_event_path(@organization, @event)
    .table-header
      .col-md-3
        .sidebar-content-label= 'Name'
      .col-md-6
        .sidebar-content-label= 'Email'
    - @attendees.each do |attendee|
      .table-row
        .small-table-col
          = "#{attendee.name}"
        .large-table-col
          = "#{attendee.email}"