.content-panel
  .panel-header
    .glyphicon.glyphicon-file
    = document.name
  .panel-title Options
  .panel-link
    = link_to 'View Document', organization_document_path(document.organization, document)
    = ', '
    = link_to 'Edit Document', edit_organization_document_path(document.organization, document)
    = ', '
    = link_to 'View Summary', document_summary_path(document, document.summary)
    = ', '
    = link_to 'View Original', document.file.url
  .panel-title About
  .panel-text= "Uploaded by #{document.user.name} on #{document.created_at.strftime("%m/%d/%Y %H:%M %p")}"
  .panel-text= "Last updated on #{document.updated_at.strftime("%m/%d/%Y %H:%M %p")}"
  .panel-text.tag-links
    = 'Tags: '
    = tags_to_links(document.organization, document.tags)