.main-content
  - if @query.nil?
    .content-title Documents
  - else
    .content-header= "Documents related to \'#{@query}\'"
  - if @documents.count > 0
    .every-other
      - @documents.each do |document|
        = render partial: 'documents/panel', locals: {document: document}
  - else
    .nothing-to-display No documents found.
.sidebar
  = render partial: 'users/info', locals: {user: current_user}
  .sidebar-section
    .tutorial-box
      .tutorial-text 
        = fa_icon "question"
        You can search for specific documents or tags at the top of the page.
      .tutorial-text Then you can save those searches as 'Followed Topics.'