.main-content
  .content-header Upload New Document
  = form_for @document do |f|
    .form-section
      = f.label :name
      = f.text_field :name
    .form-section
      = f.label :file, 'Choose a pdf file to upload'
      = f.file_field :file
    .form-seciton
      = f.hidden_field :organization_id, value: current_user.organization.id
      = f.hidden_field :user_id, value: current_user.id
      = f.submit 'Upload', class: 'submit-form'