.main-content
  .content-header= "#{@document.name}"
  .content-subheader= link_to 'View Original', @document.file.url
  .content-subheader= "Tags"
  .tag-lists= tags_to_links(@document.tags)
.sidebar
  .sidebar-section
    .sidebar-title "Document Info"
  .sidebar-section
    .content-subheader= "Organization: #{@document.organization.name}"
    .content-subheader= "Originally Uploaded by: #{@document.user.name}"
  = render partial: 'users/info', locals: {user: current_user}
  = render partial: 'users/options', locals: {user: current_user}