.main-content
  .content-header= "#{@document.name}"
  .content-subheader= link_to 'View Original', @document.file.url
  .content-subheader Tags
  .tag-lists= tags_to_links(@document.tags)
  .content-subheader Document Contents:
  .document-contents
    - @paragraphs.each do |paragraph|

      .document-paragraph
        = link_to "+ ", new_paragraph_note_path(paragraph), class: 'new-note'
        = paragraph.content.html_safe
      - if paragraph.notes
        - paragraph.notes.each do |note|
          .note-contents= note.to_s
.sidebar
  .sidebar-section
    .sidebar-title Document Info
  .sidebar-section
    .sidebar-content-label Organization:
    .sidebar-content= "#{@document.organization.name}"
    .sidebar-content-label Orignally Uploaded by:
    .sidebar-content= "#{@document.user.name}"
  = render partial: 'users/info', locals: {user: current_user}
  = render partial: 'users/options', locals: {user: current_user}