.content-header Notice
.content-subheader= "You have been invited to join #{invited_organization.name}."
= form_for [invited_organization, membership] do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.submit "Confirm the Invitation", class: 'submit-form'
%br