.main-content
  .content-header Edit Organization
  = form_for @organization do |f|
    .form-section
      = f.label :name
      = f.text_field :name, autofocus: true, class: 'enter-text'
    .form-section
      = f.label :moderator
      = f.collection_select(:moderator_id, @members, :id, :name )
    .form-section
      = f.submit "Save", class: 'submit-form'
.sidebar
  .content-header Members
  %ul
  -@members.each do |member|
    %li= "#{member.name}, #{member.email}"
  %br
  - if @found_users
    .content-subheader= "Search Results for \'#{@query}\'"
    %ul
    -@found_users.each do |found_user|
      %li
        = form_for [@organization, @membership] do |f|
          = "#{found_user.name}, #{found_user.email}"
          = f.hidden_field :user_id, value: found_user.id
          = f.submit "Invite", class: 'invite-user'
      %br
  = form_tag edit_organization_path(@organization), method: "get" do
    .form-section
      = text_field_tag :search, params[:search], class: 'enter-text', placeholder: 'Search users by email'
    .form-section
      = submit_tag "Add Member", class: 'submit-form'
