.main-content
  .content-header Edit Organization
  = form_for @organization do |f|
    .form-section
      = f.label :name
      = f.text_field :name, autofocus: true, class: 'enter-text'
    .form-section
      = f.submit "Save", class: 'submit-form'
  = form_for @organization do |f|
    .form-section
      = f.label :moderator
      = f.collection_select(:moderator_id, @members, :id, :name )
    .form-section
      = f.submit 'Change Moderator', class: 'submit-form', data: { confirm: 'Are you sure? You will not be able to edit this organization any more.' }
  .content-header Members
  %ul
  -@members.each do |member|
    %li= "#{member.name}, #{member.email}, #{member.role.capitalize}"
    = form_for member, url: user_path(member), method: :patch do |f|
      = f.label :role
      = f.select :role, options_for_select(User::POSSIBLE_ROLES, member.role) 
      = f.submit "Update", class: 'update-user-role'
    %br
.sidebar
  - if @invited_users.count > 0
    .content-subheader= "Pending Invited Users"
    %ul
    - @invited_users.each do |invited_user|
      %li= "#{invited_user.name}, #{invited_user.email}"
      %br
  %br
  - if @found_users
    .content-subheader= "Search Results for \'#{@query}\'"
    %ul
    - @found_users.each do |found_user|
      %li
        = form_for found_user, url: invite_user_path, method: :patch do |f|
          = "#{found_user.name}, #{found_user.email}"
          = f.hidden_field :id, value: found_user.id
          = f.hidden_field :invited_organization_id, value: @organization.id
          = f.submit "Invite", class: 'invite-user'
      %br
    %p Didn't find who you're looking for? Invite them to join Cogently:
    = link_to "Invite", new_user_invitation_path, class: 'invite-user'
    %br
  = render partial: 'memberships/search', locals: {organization: @organization}