.main-content
  - if current_user.is_confirmed_member? && policy(current_user.organization).edit?
    .content-header= fa_icon "ban", text: "Oops!"
    .content-subheader
      = "You are currently the moderator of #{current_user.organization.name}!"
      Before you create a new organization, you must first 
      = link_to 'assign a new moderator', edit_organization_path(current_user.organization)
      =" for #{current_user.organization.name}"
  -else
    = form_for Organization.new do |f|
      .form-section
        = f.label :name
        = f.text_field :name, autofocus: true, class: 'enter-text'
      .form-section
        = f.hidden_field :moderator_id, value: current_user.id
        = f.submit "Create new organization", class: 'submit-form'
    - if current_user.is_confirmed_member?
      .notice-text-box.content-subheader
        = fa_icon "exclamation-circle"
        = "Creating a new organization ends your membership in #{current_user.organization.name}. You will no longer be able to see documents and events owned by #{current_user.organization.name}"
    .content-title Create a new Organization
    %ul
      %li.content-text Create a new organization that you can invite other users to join.  Any members of the same organization can upload documents visible to all other members of that organization. 
      %li.content-text When creating a new organization, you will automatically be the moderator for that group. Only the moderator user can invite other users, edit user roles, and change organization information.
      %li.content-text If you want to assign another user as the moderator, that user will need to first accept an invitation to your organization.  Then, you can assign a new moderator from the Edit Organization page, accessible from the sidebar.
.sidebar
  = render partial: 'users/info', locals: {user: current_user}