.main-content
  .content-title
    = @organization.name
  .profile-section
    .content-header Moderator:
    .moderator-header= "#{@moderator.name}"
    .moderator-header= "#{@moderator.email}"
  .profile-section
    .content-header Members
    .table-header
      .col-md-3
        .content-subheader= 'Name'
      .col-md-3
        .content-subheader= 'Email'
      .col-md-6
        .content-subheader= 'Role'
    -@members.each do |member|
      .table-row
        .small-table-col
          = "#{member.name}"
        .small-table-col
          = "#{member.email}"
        .large-table-col
          = "#{member.role.capitalize}"
.sidebar
  - if policy(@organization).edit?
    = link_to "Edit Organization", edit_organization_path(@organization), class: 'edit-record'