.main-content
  .content-header
    = @organization.name
  .content-subheader Moderator:
  = "#{@moderator.name}, #{@moderator.email}"
  .content-header Members
  %ul
  -@members.each do |member|
    %li= "#{member.name}, #{member.email}, #{member.role.capitalize}"
.sidebar
  - if policy(@organization).edit?
    = link_to "Edit Organization", edit_organization_path(@organization), class: 'edit-record'