.main-content
  .content-title= @organization.name
  .profile-section
    .content-header Moderator:
    .moderator-header= "#{@moderator.name}"
    .moderator-header= "#{@moderator.email}"
  .profile-section
    .content-header Members
    .table-header
      .col-md-3
        .content-subheader= 'Name'
      .col-md-3
        .content-subheader= 'Email'
      .col-md-6
        .content-subheader= 'Role'
    -@members.each do |member|
      .table-row
        .small-table-col
          = "#{member.name}"
        .small-table-col
          = "#{member.email}"
        .large-table-col
          = "#{member.role.capitalize}"
.sidebar
  = render partial: 'users/info', locals: {user: current_user}
  .sidebar-section
    .tutorial-box
      .tutorial-text 
        = fa_icon "question"
        Only the moderator can edit your organization's membership and user roles.
      .tutorial-text
        Manager users will be taken to their feed at login.
      .tutorial-text
        Staff users will be taken to the organization's document list at login.