!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cogently
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .site-wrapper
      %nav.navigation
        .navigation-header
          - if user_signed_in? && current_user.is_confirmed_member?
            = link_to user_path(current_user), class: 'navigation-brand' do
              = fa_icon "pencil", text:  "Cogently"
          -else
            = link_to root_path, class: 'navigation-brand' do
              = fa_icon "pencil", text:  "Cogently"
        %ul.navigation-right
          - if user_signed_in?
            %li
              = link_to user_path(current_user) do
                = fa_icon "user", text: (current_user.name || current_user.email)
            %li
              = link_to destroy_user_session_path, method: :delete do
                = fa_icon "sign-out", text: "Sign Out"
          - else
            %li
              = link_to new_user_session_path do
                = fa_icon "sign-in", text: "Sign In"
            %li
              = link_to new_user_registration_path do
                = fa_icon "user-plus", text: "Sign Up"
      - if user_signed_in?
        = render partial: 'users/controls', locals: {user: current_user}
      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} &times;
          = flash[:notice]
      - elsif flash[:error]
        .alert.alert-danger
          %button.close{"data-dismiss" => "alert", :type => "button"} &times;
          = flash[:error]
      - elsif flash[:alert]
        .alert.alert-warning
          %button.close{"data-dismiss" => "alert", :type => "button"} &times;
          = flash[:alert]
      .app-content
        = yield
